html {
	background:#666 

}
body {
	background:#fff;
	min-height:700px;
}

h1 {
	padding:1em 0;
text-align:center;
background:url(../images/shadow-560.png )no-repeat  center bottom
}

h2 {
    padding:1em 0;
    text-align:center;
    background:url(../images/shadow-560.png )no-repeat  center bottom;
    color: #990000;
}

.center {
    text-align: center;
}

.gras {
    font-weight: bolder;
}